[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
requests = "*"
python-twitter = "*"
openpyxl = "*"
"psycopg2" = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
plotly = "*"


[dev-packages]
